.body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.modal {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(70, 70, 70);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    /* align-items: center; */
    width: 75%;
    height: 75%;
    padding: 15px;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.modal .header {
    align-items: center;
}

.modal hr {
    width: 90%;
}

.modal select {
    margin-right: 70px;
    margin-bottom: 30px!important;
}

.modal .select {
    width: 100%!important;
}


/* Books table index page */

.books table, th {
	border: 2px solid black;
	text-align: center;
	font-weight: bold;
}

.books td {
	border: 1px solid rgb(130, 130, 130);
	text-align: left;
	font-weight: normal;
	padding: 0.5em;
}




.headerList {
    display: contents;
}

.headerList .actions {
    background: white;
    border: none;
    width: 35px!important;
    padding: 0!important;
}

.headerList ul {
    display: table;
    justify-content: left;
    text-align: left;
    width: 90%!important;
    margin: 0!important;
    margin-top: 15px!important;
    margin-bottom: 40px!important;
}

.headerList ul li {
    background-color:#eee;
    list-style-type:none;
    padding:1em;
    border:2px solid black;
}

.headerList li {
    display: table-cell;
    width: 100px;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
}

.rowsList {
    display: flex;
    justify-content: center;
}

.rowsList ul {
    display: table;
    justify-content: left;
    text-align: left;
    width: 90%!important;
    margin: 0!important;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.rowsList ul li {
    background-color:#eee;
    list-style-type:none;
    padding:1em;
    border-right:1px solid white;
}

.rowsList li {
    display: table-cell;
    width: 100px!important;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: rgb(230, 230, 230);
    padding: 10px 20px;
    float: right!important;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    width: 100%!important;
}
select {
    color: black;
    cursor: pointer;
    width: 12rem;
}