nav {
    background: transparent;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    min-height: 5vh;
}

nav a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: initial;
    color: black;
    border: none;
    background: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 5px;
}

nav a:hover {
    filter: brightness(75%);
    transition: 0.5s;
}

nav h1 {
    justify-content: center;
}

nav .linkLeft {
    float: left;
    margin-left: 15px;
}

nav .linkRight {
    float: right;
    margin-right: 15px;
}

nav:hover {
    border-bottom: 1px solid black;
    border-radius: 5px;
    transition: 0.5s;
}

.link {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}